services:
  ipexweb:
    image: python:3.14.2-slim-trixie
    restart: always
    volumes:
      - ../website:/ipexweb
    ports:
      - "1337:80"
    working_dir: /ipexweb
    command: bash -c "python3 -m http.server -d /ipexweb 80 2>&1"
